pandas是基于numpy构建的库，在数据处理方面可以把它理解为numpy的加强版，由于numpy主要用于科学计算，特长不在于数据处理，我们平常处理的数据一般带有列标签和index索引，这时pandas作为数据分析包而被开发出来。

pandas数据结构(Series/DataFrame)

### 一、Series

### 1、Series创建

Series类似一维数组的数据结构，由一组数据(各种numpy数据类型)和与之关联的数据标签(索引)组成，结构相当于定长有序的字典，index和value之间相互独立.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# 创建Series
a1 = pd.Series([1, 2, 3])  # 数组生成Series
a1

0    1
1    2
2    3
dtype: int64

In [4]:
a2 = pd.Series(np.array([1, 2, 3]))  # numpy数组生成Series
a2

0    1
1    2
2    3
dtype: int32

In [5]:
a3 = pd.Series([1, 2, 3], index=["index1", "index2", "index3"])  # 指定标签index生成
a3

index1    1
index2    2
index3    3
dtype: int64

In [6]:
a4 = pd.Series({"index1": 1, "index2": 2, "index3": 3})  # 字典生成Series
a4

index1    1
index2    2
index3    3
dtype: int64

In [8]:
a5 = pd.Series({"index": 1, "index2": 2, "index3": 3},
               index=["index1", "index2", "index3"])  # 字典生成Series,指定index，不匹配部分为NaN
a5

index1    NaN
index2    2.0
index3    3.0
dtype: float64

In [9]:
a6 = pd.Series(10, index=["index1", "index2", "index3"])
a6

index1    10
index2    10
index3    10
dtype: int64

### 2、Series属性

可以把Series看成一个定长的有序字典

可以通过shape（维度），size（长度），index（键）,values（值）等得到series的属性

In [10]:
a1 = pd.Series([1, 2, 3])
a1.index  # Series索引

RangeIndex(start=0, stop=3, step=1)

In [12]:
a1.values  # Series数值

array([1, 2, 3], dtype=int64)

In [13]:
a1.name = "population"  # 指定Series名字
a1.index.name = "state"  # 指定Series索引名字
a1

state
0    1
1    2
2    3
Name: population, dtype: int64

In [14]:
a1.shape

(3,)

In [15]:
a1.size

3

###  3、Series查找元素

loc为显示切片（通过键），iloc为隐式切片（通过索引）

### 访问单个元素<br>
s[indexname]<br>
s.loc[indexname] 推荐<br>
s[loc]<br>
s.iloc[loc] 推荐<

### 访问多个元素<br>
s[[indexname1,indexname2]]<br>
s.loc[[indexname1,indexname2]] 推荐<br>
s[[loc1,loc2]]<br>
s.iloc[[loc1,loc2]] 推荐

In [17]:
a3 = pd.Series([1, 2, 3], index=["index1", "index2", "index3"])
a3

index1    1
index2    2
index3    3
dtype: int64

In [18]:
a3["index1"]

1

In [19]:
a3.loc['index1']

1

In [20]:
a3[1]

2

In [22]:
a3.iloc[1]

2

In [23]:
a3[['index1','index2']]

index1    1
index2    2
dtype: int64

In [24]:
a3.loc[['index1','index2']]

index1    1
index2    2
dtype: int64

In [25]:
a3[[1,2]]

index2    2
index3    3
dtype: int64

In [26]:
a3.iloc[[1,2]]

index2    2
index3    3
dtype: int64

In [27]:
a3[a3 > np.mean(a3)]  # 布尔值查找元素

index3    3
dtype: int64

In [28]:
a3[0:2]  # 绝对位置切片

index1    1
index2    2
dtype: int64

In [30]:
a3["index1":"index2"]  # 索引切片

index1    1
index2    2
dtype: int64

### 4、Series修改元素

In [32]:
# 修改元素
a3["index3"] = 100  # 按照索引修改元素
a3

index1      1
index2      2
index3    100
dtype: int64

In [33]:
a3[2] = 1000  # 按照绝对位置修改元素
a3

index1       1
index2       2
index3    1000
dtype: int64

###  5、Series添加元素

In [34]:
# 添加元素
a3["index4"] = 10  # 按照索引添加元素
a3

index1       1
index2       2
index3    1000
index4      10
dtype: int64

### 6、Series删除元素

In [35]:
a3.drop(["index4", "index3"], inplace=True)  # inplace=True表示作用在当前Series
a3

index1    1
index2    2
dtype: int64

### 7、Series方法

In [36]:
a3 = pd.Series([1, 2, 3], index=["index1", "index2", "index3"])
a3["index3"] = np.NaN  # 添加元素
a3

index1    1.0
index2    2.0
index3    NaN
dtype: float64

In [37]:
a3.isnull()  # 判断Series是否有缺失值

index1    False
index2    False
index3     True
dtype: bool

In [38]:
a3.notnull()  # 判断Series是否没有缺失值

index1     True
index2     True
index3    False
dtype: bool

In [39]:
"index1" in a3  # 判断Series中某个索引是否存在

True

In [47]:
a3.isin([1,2])  # 判断Series中某个值是否存在

index1     True
index2     True
index3    False
dtype: bool

In [48]:
a3.unique()  # 统计Series中去重元素

array([ 1.,  2., nan])

In [49]:
a3.value_counts()  # 统计Series中去重元素和个数

2.0    1
1.0    1
dtype: int64

### 二、Dataframe

DataFrame是一个【表格型】的数据结构，可以看做是【由Series组成的字典】（共用同一个索引）。DataFrame由按一定顺序排列的多列数据组成。设计初衷是将Series的使用场景从一维拓展到多维。DataFrame既有行索引，也有列索引。

行索引：index<br>
列索引：columns<br>
值：values（numpy的二维数组）

### 1、创建DataFrame

1.1通过字典创建

In [50]:
data = {"color": ["green", "red", "blue", "black", "yellow"], "price": [1, 2, 3, 4, 5]}
dataFrame1 = pd.DataFrame(data=data)  # 通过字典创建
dataFrame1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [51]:
dataFrame2 = pd.DataFrame(data=data, index=["index1", "index2", "index3", "index4", "index5"])
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [52]:
dataFrame3 = pd.DataFrame(data=data, index=["index1", "index2", "index3", "index4", "index5"],
                          columns=["price"])  # 指定列索引
dataFrame3

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [53]:
dataFrame4 = pd.DataFrame(data=np.arange(12).reshape(3, 4))  # 通过numpy数组创建
dataFrame4

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

In [54]:
dic = {
    '张三':[150,150,150,300],
    '李四':[0,0,0,0]
}
pd.DataFrame(data=dic,index=['语文','数学','英语','理综'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>张三</th>
      <th>李四</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>语文</th>
      <td>150</td>
      <td>0</td>
    </tr>
    <tr>
      <th>数学</th>
      <td>150</td>
      <td>0</td>
    </tr>
    <tr>
      <th>英语</th>
      <td>150</td>
      <td>0</td>
    </tr>
    <tr>
      <th>理综</th>
      <td>300</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [56]:
data = [[0,150],[0,150],[0,150],[0,300]]
index = ['语文','数学','英语','理综']
columns = ['李四','张三']
pd.DataFrame(data=data,index=index,columns=columns)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>李四</th>
      <th>张三</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>语文</th>
      <td>0</td>
      <td>150</td>
    </tr>
    <tr>
      <th>数学</th>
      <td>0</td>
      <td>150</td>
    </tr>
    <tr>
      <th>英语</th>
      <td>0</td>
      <td>150</td>
    </tr>
    <tr>
      <th>理综</th>
      <td>0</td>
      <td>300</td>
    </tr>
  </tbody>
</table>
</div>

1.2通过Series创建

In [59]:
cars = pd.Series({"Beijing": 300000, "Shanghai": 350000, "Shenzhen": 300000, "Tianjian": 200000, "Guangzhou": 250000,
                  "Chongqing": 150000})
cars

Beijing      300000
Shanghai     350000
Shenzhen     300000
Tianjian     200000
Guangzhou    250000
Chongqing    150000
dtype: int64

In [60]:
cities = {"Shanghai": 90000, "Foshan": 4500, "Dongguan": 5500, "Beijing": 6600, "Nanjing": 8000, "Lanzhou": None}
apts = pd.Series(cities, name="price")
apts

Shanghai    90000.0
Foshan       4500.0
Dongguan     5500.0
Beijing      6600.0
Nanjing      8000.0
Lanzhou         NaN
Name: price, dtype: float64

In [61]:
df = pd.DataFrame({"apts": apts, "cars": cars})
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>apts</th>
      <th>cars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Beijing</th>
      <td>6600.0</td>
      <td>300000.0</td>
    </tr>
    <tr>
      <th>Chongqing</th>
      <td>NaN</td>
      <td>150000.0</td>
    </tr>
    <tr>
      <th>Dongguan</th>
      <td>5500.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Foshan</th>
      <td>4500.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Guangzhou</th>
      <td>NaN</td>
      <td>250000.0</td>
    </tr>
    <tr>
      <th>Lanzhou</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Nanjing</th>
      <td>8000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Shanghai</th>
      <td>90000.0</td>
      <td>350000.0</td>
    </tr>
    <tr>
      <th>Shenzhen</th>
      <td>NaN</td>
      <td>300000.0</td>
    </tr>
    <tr>
      <th>Tianjian</th>
      <td>NaN</td>
      <td>200000.0</td>
    </tr>
  </tbody>
</table>
</div>

1.3通过dicts的list来构建Dataframe

In [62]:
data = [{"Beijing": 1000, "Shanghai": 2500, "Nanjing": 9850}, {"Beijing": 5000, "Shanghai": 4600, "Nanjing": 7000}]
pd.DataFrame(data)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Beijing</th>
      <th>Nanjing</th>
      <th>Shanghai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1000</td>
      <td>9850</td>
      <td>2500</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5000</td>
      <td>7000</td>
      <td>4600</td>
    </tr>
  </tbody>
</table>
</div>

### 2、查找DataFrame中的元素

In [65]:
data = {"color": ["green", "red", "blue", "black", "yellow"], "price": [1, 2, 3, 4, 5]}
dataFrame2 = pd.DataFrame(data=data, index=["index1", "index2", "index3", "index4", "index5"])
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [66]:
dataFrame2.columns  # 查找dataFrame中所有列标签

Index(['color', 'price'], dtype='object')

In [67]:
dataFrame2.index  # 查找dataFrame中的所有行标签

Index(['index1', 'index2', 'index3', 'index4', 'index5'], dtype='object')

In [68]:

dataFrame2.values  # 查找dataFrame中的所有值

array([['green', 1],
       ['red', 2],
       ['blue', 3],
       ['black', 4],
       ['yellow', 5]], dtype=object)

In [72]:
dataFrame2["color"]["index1"]  # 索引查找数值(先列后行,否则报错)

'green'

In [73]:
dataFrame2.at["index1", "color"]  # 索引查找数值(先行后列，否则报错）

'green'

In [79]:
dataFrame2.iat[0, 1]  # 绝对位置查找数值

1

### 3、查找DataFrame中某一行/列元素

In [89]:
data = {"color": ["green", "red", "blue", "black", "yellow"], "price": [1, 2, 3, 4, 5]}
dataFrame2 = pd.DataFrame(data=data, index=["index1", "index2", "index3", "index4", "index5"])
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [91]:
dataFrame2.loc["index1"]  # 查找一行元素

color    green
price        1
Name: index1, dtype: object

In [92]:
dataFrame2.iloc[0]  # 查找一行元素(绝对位置)

color    green
price        1
Name: index1, dtype: object

In [96]:
dataFrame2.iloc[0:2]  # 通过iloc方法可以拿到行和列，直接按照index的顺序来取。# 可以当做numpy的ndarray的二维数组来操作。

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [100]:
dataFrame2.loc[:, "price"]  # 查找一列元素

index1    1
index2    2
index3    3
index4    4
index5    5
Name: price, dtype: int64

In [101]:
dataFrame2.iloc[:, 0]  # 查找一列元素(绝对位置)

index1     green
index2       red
index3      blue
index4     black
index5    yellow
Name: color, dtype: object

In [102]:
dataFrame2.values[0]  # 查找一行元素

array(['green', 1], dtype=object)

In [103]:
dataFrame2["price"]  # 查找一列元素,#通过列名的方式，查找列，不能查找行

index1    1
index2    2
index3    3
index4    4
index5    5
Name: price, dtype: int64

In [104]:
dataFrame2["color"]

index1     green
index2       red
index3      blue
index4     black
index5    yellow
Name: color, dtype: object

### 4、查找DataFrame中的多行/列元素

In [106]:
dataFrame2.head(5)  # 查看前5行元素

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [107]:
dataFrame2.tail(5)  # 查看后5行元素

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [108]:
dataFrame2["index1":"index4"]  # 切片多行

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

In [109]:
dataFrame2[0:4]  # 切片多行

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

In [111]:
dataFrame2.loc[["index1", "index2"]]  # 多行

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [113]:
dataFrame2.iloc[[0, 1]]  # 多行

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [114]:
dataFrame2.loc[:, ["price"]]  # 多列

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [115]:
dataFrame2.iloc[:, [0, 1]]  # 多列

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [116]:
dataFrame2.loc[["index1", "index3"], ["price"]]  # 索引查找

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>1</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>

In [117]:
dataFrame2.iloc[[1, 2], [0]]  # 绝对位置查找

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index2</th>
      <td>red</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
    </tr>
  </tbody>
</table>
</div>

### 5、添加一行/列元素

In [119]:
dataFrame2.loc["index6"] = ["pink", 3] 
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>pink</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>

In [120]:
dataFrame2.loc["index6"]=10
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>10</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

In [123]:
dataFrame2.iloc[5] = 10
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>10</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

In [125]:
dataFrame2.loc["index7"] = 100
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index7</th>
      <td>100</td>
      <td>100</td>
    </tr>
  </tbody>
</table>
</div>

In [129]:
dataFrame2.loc[:, "size"] = "small"
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
      <td>small</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
      <td>small</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
      <td>small</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
      <td>small</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
      <td>small</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>10</td>
      <td>10</td>
      <td>small</td>
    </tr>
    <tr>
      <th>index7</th>
      <td>100</td>
      <td>100</td>
      <td>small</td>
    </tr>
  </tbody>
</table>
</div>

In [130]:
dataFrame2.iloc[:, 2] = 10
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index7</th>
      <td>100</td>
      <td>100</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

### 6、修改元素

In [131]:
dataFrame2.loc["index1", "price"] = 100
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>100</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index7</th>
      <td>100</td>
      <td>100</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

In [132]:
dataFrame2.iloc[0, 1] = 10
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index7</th>
      <td>100</td>
      <td>100</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

In [133]:
dataFrame2.at["index1", "price"] = 100
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>100</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index7</th>
      <td>100</td>
      <td>100</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

In [135]:
dataFrame2.iat[0, 1] = 1000
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1000</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index6</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index7</th>
      <td>100</td>
      <td>100</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

###  7、删除元素

In [136]:
dataFrame2.drop(["index6", "index7"], inplace=True)  # inplace=True表示作用在原数组
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1000</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

In [141]:
a=dataFrame2.drop(["price"], axis=1, inplace=False)
dataFrame2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
      <td>2</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
      <td>3</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
      <td>4</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [142]:
a

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>index1</th>
      <td>green</td>
    </tr>
    <tr>
      <th>index2</th>
      <td>red</td>
    </tr>
    <tr>
      <th>index3</th>
      <td>blue</td>
    </tr>
    <tr>
      <th>index4</th>
      <td>black</td>
    </tr>
    <tr>
      <th>index5</th>
      <td>yellow</td>
    </tr>
  </tbody>
</table>
</div>

### 8. 处理NaN数据

In [148]:
dates = pd.date_range('20180101', periods=3)
df = pd.DataFrame(np.arange(12).reshape((3, 4)),
                  index=dates, columns=['a', 'b', 'c', 'd'])
df.iloc[1, 1], df.iloc[2, 2] = np.nan, np.nan
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-01-01</th>
      <td>0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2018-01-02</th>
      <td>4</td>
      <td>NaN</td>
      <td>6.0</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2018-01-03</th>
      <td>8</td>
      <td>9.0</td>
      <td>NaN</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

8.1删除NaN数据

In [151]:
re=df.dropna(axis=1, inplace=False)  # inplace默认为false
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-01-01</th>
      <td>0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2018-01-02</th>
      <td>4</td>
      <td>NaN</td>
      <td>6.0</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2018-01-03</th>
      <td>8</td>
      <td>9.0</td>
      <td>NaN</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

In [152]:
re

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-01-01</th>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2018-01-02</th>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2018-01-03</th>
      <td>8</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

###  8.2填充NaN数据

In [153]:
re2 = df.fillna(value='*')
re2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-01-01</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2018-01-02</th>
      <td>4</td>
      <td>*</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2018-01-03</th>
      <td>8</td>
      <td>9</td>
      <td>*</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

### 8.3 检查是否存在NaN

In [155]:
df.isnull()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-01-01</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2018-01-02</th>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2018-01-03</th>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

### 9.合并DataFrame

9.1 concat函数

In [156]:
df1 = pd.DataFrame(np.ones((3, 4)) * 0, columns=['a', 'b', 'c', 'd'])
df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [157]:
df2 = pd.DataFrame(np.ones((3, 4)) * 1, columns=['a', 'b', 'c', 'd'])
df2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [158]:
df3 = pd.DataFrame(np.ones((3, 4)) * 2, columns=['a', 'b', 'c', 'd'])
df3

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
  </tbody>
</table>
</div>

In [159]:
# ignore_index=True将重新对index排序
pd.concat([df1, df2, df3], axis=0, ignore_index=True)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
  </tbody>
</table>
</div>

In [160]:
# ignore_index=True将重新对index排序
pd.concat([df1, df2, df3], axis=0, ignore_index=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>0</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
  </tbody>
</table>
</div>

join参数用法

In [164]:
df1 = pd.DataFrame(np.ones((3, 4)) * 0, columns=['a', 'b', 'c', 'd'], index=[1, 2, 3])
df2 = pd.DataFrame(np.ones((3, 4)) * 1, columns=['b', 'c', 'd', 'e'], index=[2, 3, 4])
# join默认为'outer'，不共有的列用NaN填充 
pd.concat([df1, df2], sort=False, join='outer')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>e</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [166]:
# join='inner'只合并共有的列
pd.concat([df1, df2], sort=False, join='inner',ignore_index=True)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

join_axes参数用法

In [167]:
# 按照df1的index进行合并
pd.concat([df1, df2], axis=1, join_axes=[df1.index])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>e</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

### 9.2 append函数

In [169]:
df1 = pd.DataFrame(np.ones((3, 4)) * 0, columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.ones((3, 4)) * 1, columns=['a', 'b', 'c', 'd'])

re = df1.append(df2, ignore_index=True)
re

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

append一组数据

In [170]:
df1 = pd.DataFrame(np.ones((3, 4)) * 0, columns=['a', 'b', 'c', 'd'])
s = pd.Series([4, 4, 4, 4], index=['a', 'b', 'c', 'd'])

re = df1.append(s, ignore_index=True)
re

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

### 9.3 merge函数

基于某一列进行合并

In [171]:
df1 = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                    'B': ['B1', 'B2', 'B3'],
                    'KEY': ['K1', 'K2', 'K3']})
df2 = pd.DataFrame({'C': ['C1', 'C2', 'C3'],
                    'D': ['D1', 'D2', 'D3'],
                    'KEY': ['K1', 'K2', 'K3']})

df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>KEY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A1</td>
      <td>B1</td>
      <td>K1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A2</td>
      <td>B2</td>
      <td>K2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A3</td>
      <td>B3</td>
      <td>K3</td>
    </tr>
  </tbody>
</table>
</div>

In [172]:
df2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>C</th>
      <th>D</th>
      <th>KEY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>C1</td>
      <td>D1</td>
      <td>K1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>C2</td>
      <td>D2</td>
      <td>K2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>C3</td>
      <td>D3</td>
      <td>K3</td>
    </tr>
  </tbody>
</table>
</div>

In [173]:
re = pd.merge(df1, df2, on='KEY')
re

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>KEY</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A1</td>
      <td>B1</td>
      <td>K1</td>
      <td>C1</td>
      <td>D1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A2</td>
      <td>B2</td>
      <td>K2</td>
      <td>C2</td>
      <td>D2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A3</td>
      <td>B3</td>
      <td>K3</td>
      <td>C3</td>
      <td>D3</td>
    </tr>
  </tbody>
</table>
</div>

基于某两列进行合并

In [175]:
df1 = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                    'B': ['B1', 'B2', 'B3'],
                    'KEY1': ['K1', 'K2', 'K0'],
                    'KEY2': ['K0', 'K1', 'K3']})
df2 = pd.DataFrame({'C': ['C1', 'C2', 'C3'],
                    'D': ['D1', 'D2', 'D3'],
                    'KEY1': ['K0', 'K2', 'K1'],
                    'KEY2': ['K1', 'K1', 'K0']})
# how:['left','right','outer','inner']
re = pd.merge(df1, df2, on=['KEY1', 'KEY2'], how='inner')
re

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>KEY1</th>
      <th>KEY2</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A1</td>
      <td>B1</td>
      <td>K1</td>
      <td>K0</td>
      <td>C3</td>
      <td>D3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A2</td>
      <td>B2</td>
      <td>K2</td>
      <td>K1</td>
      <td>C2</td>
      <td>D2</td>
    </tr>
  </tbody>
</table>
</div>

按index合并

In [176]:
df1 = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                    'B': ['B1', 'B2', 'B3']},
                   index=['K0', 'K1', 'K2'])
df2 = pd.DataFrame({'C': ['C1', 'C2', 'C3'],
                    'D': ['D1', 'D2', 'D3']},
                   index=['K0', 'K1', 'K3'])

re = pd.merge(df1, df2, left_index=True, right_index=True, how='outer')
re

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>K0</th>
      <td>A1</td>
      <td>B1</td>
      <td>C1</td>
      <td>D1</td>
    </tr>
    <tr>
      <th>K1</th>
      <td>A2</td>
      <td>B2</td>
      <td>C2</td>
      <td>D2</td>
    </tr>
    <tr>
      <th>K2</th>
      <td>A3</td>
      <td>B3</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>K3</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>C3</td>
      <td>D3</td>
    </tr>
  </tbody>
</table>
</div>

为列加后缀

In [177]:
df_boys = pd.DataFrame({'id': ['1', '2', '3'],
                        'age': ['23', '25', '18']})
df_girls = pd.DataFrame({'id': ['1', '2', '3'],
                         'age': ['18', '18', '18']})
re = pd.merge(df_boys, df_girls, on='id', suffixes=['_boys', '_girls'])
re

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>age_boys</th>
      <th>age_girls</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>23</td>
      <td>18</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>25</td>
      <td>18</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>18</td>
      <td>18</td>
    </tr>
  </tbody>
</table>
</div>